server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config-repo
  profiles:
    active: native

springdoc:
  swagger-ui:
    enabled: true

encrypt:
  key: d0f5987cb9af34e9d645eb16759665d7b3f3b9826990d0bb04383d6339980dc7

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true